# Only authorized users can change workflows and packaging
.github @slovensko-digital/autogram-release-team
/src/main/scripts @slovensko-digital/autogram-release-team
/pom.xml @slovensko-digital/autogram-release-team
/mvnw @slovensko-digital/autogram-release-team
/mvnw.cmd @slovensko-digital/autogram-release-team
/.mvn @slovensko-digital/autogram-release-team
/src/main/resources/digital/slovensko/autogram/core/lotlKeyStore.p12 @slovensko-digital/autogram-release-team
