# Only authorized users can change workflows and packaging
.github @slovensko-digital/autogram-packaging
/src/main/scripts @slovensko-digital/autogram-packaging
/pom.xml @slovensko-digital/autogram-packaging
/mvnw @slovensko-digital/autogram-packaging
/mvnw.cmd @slovensko-digital/autogram-packaging
/.mvn @slovensko-digital/autogram-packaging