target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/
whitelabel.iml

# IDE - It's up to developer to decide, we don't want to force configuration
.settings
.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json

# macOS-specific
.DS_Store

.java-version
secret

/fakeTokenDriver