.dialog-pane {
    -fx-background-color: #fff;
}

.dialog-pane .button-bar Button {
    -fx-text-fill: -light-text-color;
    -fx-background-color: -primary-color;
    -fx-background-radius: 4px;
}
.dialog-pane .button-bar Button:hover {
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.15), 127, 0.1, 0, 0);
}

.dialog-pane *.header-panel {
    -fx-background-color: -bg-color;
}
