.root {
    -fx-background-color: -bg-color;
}

#textArea {
    -fx-background-color: #ffffff;
    -fx-text-fill: -dark-text-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.footer {
    -fx-padding: 16px;
}

.button-custom {
    -fx-background-color: #c8c8c8;
    -fx-background-radius: 9px;
    -fx-text-fill: #373737;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
