.root {
    -fx-background-color: -bg-color;
}

#textArea {
    -fx-background-color: #ffffff;
    -fx-text-fill: -dark-text-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.footer {
    -fx-padding: 16px;
}
