.root {
    -fx-background-color: -bg-color;
}

textArea,
#nativeViewPrompt {
    -fx-background-color: #ffffff;
    -fx-text-fill: -dark-text-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#nativeViewPrompt Label {
    -fx-text-fill: -dark-text-color;
    -fx-text-alignment: center;
}

.footer {
    -fx-padding: 16px;
}
