/*
    Automatically loaded custom overrides

    Place all of your custom styling here.
    For example, you can use your brand's colors:
    * {
        -bg-color: #f9f9f9;
        -primary-color: #b81821;
        -secondary-color: #453b34;
        -light-text-color: #ffffff;
    }
*/
