/* Main styling */
@font-face {
  -fx-font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  -fx-font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Bold.ttf");
}

.root {
  -autogram-text-colour: #0b0c0c;
  -autogram-secondary-text-colour: #505a5f;

  -autogram-link-colour: #1d70b8;
  -autogram-link-hover-colour: #003078;

  -autogram-border-colour: #b1b4b6;
  -autogram-input-border-colour: #0b0c0c;
  -autogram-input-background-color: #ffffff;

  -autogram-success-colour: #00703c;
  -autogram-priamry-button-hover-colour: #204e2e;

  -autogram-secondary-hover-colour: #dee0e2;

  -autogram-warning-button-colour: #d0190f;
  -autorgam-warning-button-hover-colour: #9e1912;

  -autogram-background-colour: #ffffff;
  -autogram-secondary-background-colour: #f3f2f1;

  -autogram-focus-colour: #ffdd00;
  -autogram-focus-text-colour: #0b0c0c;

  -autogram-error-colour: #d4351c;


  -autogram-partial-success-colour: #003078;

  -fx-font-family: "Source Sans Pro", "Arial", sans-serif;
  -fx-font-size: 16px;

  -fx-font-smoothing-type: gray;

  -autogram-warning-color: #ffdf0f;
}

#mainBox {
  -fx-border-width: 40px 0 0 0, 3px 0 0 0;
  -fx-border-color: #003183,
    linear-gradient(
      from 0 0 to 150px 0,
      repeat,
      #ffffff 0%,
      #ffffff 33.3%,
      #003183 33.3%,
      #003183 66.6%,
      #d0190f 66.6%,
      #d0190f 100%
    );
  -fx-padding: 2em;
  -fx-spacing: 2em;
}

/* Radio buttons */
.radio-button {
  -fx-cursor: hand;
}

.radio-button {
  -fx-label-padding: 0 0 0 0.75em;
}

.radio-button .radio {
  -fx-background-color: -autogram-input-border-colour, -autogram-background-colour;
  -fx-background-insets: 0, 2;
  -fx-background-radius: 25px;
  -fx-pref-height: 40px;
  -fx-pref-width: 40px;
  -fx-min-height: 40px;
  -fx-min-width: 40px;
}

.radio-button:focused .radio {
  -fx-background-color: -autogram-focus-colour, -autogram-input-border-colour,
  -autogram-background-colour;
  -fx-background-insets: -4, 0, 4;
  -fx-background-radius: 25px;
}

.radio-button .radio .dot {
  -fx-background-color: -autogram-background-colour;
  -fx-background-insets: 10;
  -fx-background-radius: 25px;
}

.radio-button:selected .radio .dot {
  -fx-background-color: -autogram-input-border-colour;
}

.radio-button .text {
  -fx-fill: -autogram-text-colour;
  -fx-font-size: 1.1875em;
}

.autogram-smaller-radio-buttons {
  -fx-spacing: 2em;
}

.autogram-smaller-radio-buttons .radio {
  -fx-pref-height: 25px;
  -fx-pref-width: 25px;
  -fx-min-height: 25px;
  -fx-min-width: 25px;
  -fx-padding: -3px;
 }

 .autogram-smaller-radio-buttons .radio-button:focused .radio {
  -fx-background-color: -autogram-focus-colour, -autogram-input-border-colour, -autogram-background-colour;
  -fx-background-insets: -4, 0, 4;
  -fx-background-radius: 25px;
}

.autogram-smaller-radio-buttons .radio-button:focused:hover .radio {
  -fx-background-color: -autogram-secondary-hover-colour, -autogram-focus-colour, -autogram-input-border-colour, -autogram-background-colour;
  -fx-background-insets: -10, -4, 0, 4;
  -fx-background-radius: 25px;
}

.autogram-smaller-radio-buttons .radio-button:selected .radio .dot {
  -fx-background-color: -autogram-input-border-colour;
}

.autogram-smaller-radio-buttons .radio-button:hover .radio {
  -fx-background-color: -autogram-secondary-hover-colour, -autogram-input-border-colour,
  -autogram-background-colour;
  -fx-background-insets: -10, 0, 2;
  -fx-background-radius: 25px;
}

/* Buttons */
.autogram-button {
  -fx-cursor: hand;
  -fx-background-color: -autogram-success-colour;
  -fx-border-color: -autogram-input-border-colour;
  -fx-border-width: 0 0 2px 0;
  -fx-text-fill: -autogram-background-colour;
  -fx-padding: 7px 10px 7px 10px;

  -fx-font-size: 1.1875em;
}

.autogram-button:hover {
  -fx-background-color: -autogram-priamry-button-hover-colour;
}

.autogram-button:focused,
.autogram-button.autogram-button--secondary:focused,
.autogram-button.autogram-button--warning:focused {
  -fx-background-color: -autogram-focus-colour !important;
  -fx-text-fill: -autogram-text-colour;

  -fx-border-color: -autogram-input-border-colour;
}

.autogram-button:disabled {
  -fx-opacity: 0.5;
}

.autogram-link {
  -fx-background-insets: 7px 0;
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-text-fill: -autogram-link-colour;
  -fx-underline: true;

  -fx-font-size: 1.1875em;
}

.autogram-link:hover {
  -fx-cursor: hand;
  -fx-background-color: transparent;
  -fx-text-fill: -autogram-link-hover-colour;
}

.autogram-link:focused,
.autogram-link:focused:hover {
  -fx-text-fill: -autogram-focus-text-colour;
  -fx-background-color: -autogram-focus-text-colour, -autogram-focus-colour,
    transparent;
  -fx-background-insets: 0 0 -4px 0, -4px 0 0 0, 0 0 0 0;
  -fx-underline: false;
}

.autogram-button.autogram-button--secondary {
  -fx-text-fill: -autogram-text-colour;
  -fx-background-color: -autogram-secondary-background-colour;
  -fx-border-color: -autogram-border-colour;
}

.autogram-button.autogram-button--secondary:hover {
  -fx-background-color: -autogram-secondary-hover-colour;
}

.autogram-button.autogram-button--warning {
  -fx-background-color: -autogram-error-colour;
  -fx-border-color: -autogram-warning-button-colour;
}

.autogram-button.autogram-button--warning:hover {
  -fx-background-color: -autorgam-warning-button-hover-colour;
}

/* Text styling */

.autogram-heading-l {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 2.25em;
  -fx-font-weight: bold;
}

.autogram-heading-m {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.5em;
  -fx-font-weight: bold;
}

.autogram-heading-s {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.1875em;
  -fx-font-weight: bold;
}

.autogram-body {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.1875em;
}

.autogram-body-l {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.5em;
}

.autogram-body-s {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1em;
}

/* Tooltip */

.tooltip {
  -fx-background-color: -autogram-focus-colour;
  -fx-padding: 10px;
  -fx-font-size: 1.1875em;
}

/* Form styling */

.autogram-input {
  -fx-text-fill: -autogram-text-colour;

  -fx-padding: 5px;
  -fx-border-width: 2px;
  -fx-border-color: -autogram-input-border-colour;
  -fx-font-size: 1.1875em;
}

.autogram-input:hover {
  -fx-cursor: text;
}

.autogram-input:focused {
  -fx-background-color: -autogram-focus-colour, -autogram-input-border-colour,
  -autogram-background-colour;
  -fx-background-insets: -3, 2, 4;
}

.autogram-input:disabled {
  -fx-opacity: 0.5;
}

.autogram-input--error {
  -fx-border-color: -autogram-error-colour;
}

.autogram-input--error:focused {
  -fx-border-color: -autogram-input-border-colour;
}

.autogram-input--width-10 {
  -fx-max-width: 11.5em;
}

.autogram-form-group {
  -fx-spacing: 15px;
}

.autogram-form-group--error {
  -fx-border-width: 0 0 0 5px;
  -fx-border-insets: 5;
  -fx-border-color: -autogram-error-colour;
  -fx-border-style: solid inside;
  -fx-padding: 0 0 0 15px;
}

.autogram-error-message {
  -fx-font-size: 1.1875em;
  -fx-font-weight: bold;
  -fx-fill: -autogram-error-colour;
}

.autogram-form-group .autogram-error-message {
  visibility: false;
}

.autogram-form-group.autogram-form-group--error .autogram-error-message {
  visibility: true;
}

.autogram-warning-summary {
}

.autogram-warning-summary > VBox {
  -fx-padding: 0 0 20px 0;
}

.autogram-warning-summary > HBox {
  -fx-spacing: 10px;
}

.autogram-warning-summary> HBox > .autogram-icon {
  -fx-stroke-width: 0;
  -fx-fill: -autogram-text-colour;
}

.autogram-warning-summary__description > Text {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.1875em;
}

.autogram-warning-summary__title {
  -fx-font-size: 1.5em;
  -fx-font-weight: bold;

  -fx-padding: 0 0 20px 0;
  -fx-border-insets: 0 0 20px 0;
  -fx-background-insets: 0 0 20px 0;
}

.autogram-warning-summary__title > Text {
  -fx-fill: -autogram-text-colour;
}


.autogram-error-summary {
  -fx-padding: 20px;
  -fx-border-width: 5px;
  -fx-border-color: -autogram-error-colour;
}

.autogram-error-summary__title {
  -fx-font-size: 1.5em;
  -fx-font-weight: bold;

  -fx-padding: 0 0 20px 0;
  -fx-border-insets: 0 0 20px 0;
  -fx-background-insets: 0 0 20px 0;
}

.autogram-error-summary__title > Text {
  -fx-fill: -autogram-text-colour;
}

.autogram-error-summary__error {
  -fx-font-size: 1.1875em;
  -fx-font-weight: bold;

  -fx-padding: 0 0 20px 0;
  -fx-border-insets: 0 0 20px 0;
  -fx-background-insets: 0 0 20px 0;
}

.autogram-error-summary__error > Text {
  -fx-fill: -autogram-error-colour;
}
.autogram-details .title .text {
  -fx-font-size: 1.1875em;

  -fx-fill: -autogram-link-colour;
  -fx-underline: true;
}

.autogram-details .title .text:hover {
  -fx-fill: -autogram-link-hover-colour;
}

.autogram-details .title {
  -fx-padding: 0 0 5px 0;
  -fx-border-insets: 0 0 5px 0;
  -fx-background-insets: 0 0 5px 0;
}

.autogram-details__text {
  -fx-padding: 15px 10px 15px 20px;
  -fx-border-color: -autogram-border-colour;
  -fx-border-width: 0 0 0 5px;

  -fx-wrap-text: true;
}

.autogram-details .arrow-button {
  -fx-padding: 0 10px 0 0;
}

.autogram-details .arrow-button .arrow {
  -fx-background-color: -autogram-link-colour;

  -fx-padding: 0.5em 0.42em 0.25em 0.42em; /* 3 3.75 3 3.75 */
  -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.autogram-details .title:hover .arrow {
  -fx-background-color: -autogram-link-hover-colour;
}

.autogram-description {
  -fx-text-fill: -autogram-secondary-text-colour;
  -fx-fill: -autogram-secondary-text-colour;
  -fx-font-size: 1.125em;
}

.autogram-visualizer-plaintext,
.autogram-visualizer-html,
.autogram-visualizer-pdf VBox > HBox,
.autogram-visualizer-image {
  -fx-border-color: -autogram-input-border-colour;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-wrap-text: true;
}

.autogram-visualizer-pdf VBox {
  -fx-spacing: 10px;
  -fx-padding: 5px;
}

.autogram-visualizer-plaintext {
  -fx-padding: 5px;
}

.autogram-dropzone {
  -fx-spacing: 2em;
  -fx-border-color: -autogram-border-colour;
  -fx-border-width: 2px;
  -fx-border-style: dashed;
  -fx-border-radius: 0.5em;

  -fx-padding: 4em;
  -fx-alignment: center;
}

.autogram-dropzone--entered {
  -fx-border-color: -autogram-input-border-colour;
  -fx-border-width: 2px;
  -fx-background-color: -autogram-focus-colour, -autogram-background-colour;
  -fx-background-insets: -3, 0;
  -fx-background-radius: 13px, 10px;
}

.autogram-footer {
  -fx-border-width: 1px 0 0 0;
  -fx-border-color: -autogram-border-colour;
  -fx-background-color: -autogram-secondary-background-colour;
  -fx-padding: 1em 2em;
  -fx-spacing: 1em;
}

.autogram-footer .autogram-link {
  -fx-text-fill: -autogram-text-colour;
  -fx-font-size: 1em;
}

.autogram-footer .autogram-link:hover {
  -fx-underline: false;
  -fx-background-color: -autogram-text-colour, -autogram-secondary-background-colour;
  -fx-background-insets: 0 0 1px 0, 0 0 4px 0;
}

.autogram-footer .autogram-link:focused:hover {
  -fx-background-color: -autogram-focus-text-colour, -autogram-focus-colour,
    transparent;
  -fx-background-insets: 0 0 -4px 0, -4px 0 0 0, 0 0 0 0;
}

/* Scrollbar */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
  -fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: red;
  -fx-background-radius: 0em;
  -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.15em 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: derive(-autogram-input-border-colour, 90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color: derive(#4d4c4f, 10%);
}

/* Typography */
TextFlow.autogram-heading-l,
TextFlow.autogram-heading-m,
TextFlow.autogram-heading-s {
  -fx-padding: 0 0 15px 0;
}

.autogram-prose TextFlow.autogram-heading-l,
.autogram-prose TextFlow.autogram-heading-m,
.autogram-prose TextFlow.autogram-heading-s {
  -fx-padding: 10px 0 15px 0;
}

TextFlow.autogram-body,
TextFlow.autogram-body-s {
  -fx-padding: 0 0 20px 0;
}

.autogram-font-weight-bold {
  -fx-font-weight: bold;
}

/* Icons */
.autogram-icon {
  -fx-fill: transparent;
  -fx-stroke: -autogram-border-colour;
  -fx-stroke-width: 1.5;
  -fx-stroke-line-cap: round;
  -fx-stroke-line-join: round;
}

.autogram-icon--big {
  -fx-scale-x: 2;
  -fx-scale-y: 2;
}

.autogram-icon--warning {
  -fx-stroke: -autogram-error-colour;
}

/* Borders */
.borders {
  -fx-border-color: -autogram-input-border-colour;
}

/* Tabs */
.tab .tab-label {
  -fx-underline: true;
  -fx-text-fill: -autogram-text-colour;
  -fx-background-color: -autogram-secondary-background-colour;
  -fx-border-color: -autogram-border-colour;
  -fx-cursor: hand;
  -fx-padding: 0.6875em 1.25em 0.6875em 1em;
  -fx-background-insets: 0.1875em 0.25em 0.1875em 0;
  -fx-font-size: 1.25em;
  -fx-font-weight: normal;
  -fx-border-width: 0 0 0 0;
}

.tab:selected .tab-label {
  -fx-underline: false;
  -fx-background-color: -autogram-background-colour;
  -fx-border-width: 1px 1px 0 1px;
  -fx-background-insets: 0.125em 0.25em 0 0;
  -fx-border-insets: 0 0.25em 0 0;
  -fx-padding: 0.6875em 0.9375em 0.6875em 0.9375em;
  -fx-border-color: -autogram-input-border-colour;
}

.tab:selected {
  -fx-padding: 0 -1em 0 0;
}

.autogram-settings-tab-pane ScrollPane {
  -fx-border-color: -autogram-input-border-colour;
  -fx-border-width: 1px;
  -fx-max-height: 560px;
  -fx-hbar-policy: never;
}

.autogram-settings-tab-pane ScrollPane .container {
  -fx-padding: 2em 0 2em 2em;
  -fx-max-width: 50em;
  -fx-min-width: 50em;
}

.autogram-settings-row {
  -fx-border-width: 0 0 1px 0;
  -fx-border-color: -autogram-border-colour;
  -fx-padding: 0.75em 0;
}

.autogram-settings-row > .left {
  -fx-min-width: 24em;
  -fx-max-width: 24em;
  -fx-padding: 0 2em 0 0;
}

.autogram-settings-row > VBox {
  -fx-spacing: 0.5em;
}

.autogram-settings-tab-header-text {
  -fx-padding: 0.5em 0;
}

.autogram-trusted-countries-list > HBox {
  -fx-border-width: 0 0 1px 0;
  -fx-border-color: -autogram-border-colour;
  -fx-padding: 0.125em 0;
}

.autogram-trusted-countries-list > HBox > .left {
  -fx-pref-width: 24em;
  -fx-padding: 0 2em 0 0;
}

.autogram-trusted-countries-list > HBox > .left > TextFlow {
  -fx-padding: 0.25em 0;
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;
  -fx-font-size: 1.1875em;
  -fx-font-weight: bold;
}

.autogram-trusted-countries-list > HBox > VBox {
  -fx-alignment: center-left;
}

.autogram-checkbox-container {
  -fx-alignment: center-left;
}

.autogram-textfield-container {
  -fx-alignment: center-left;
}

.autogram-textfield-container > TextField {
  -fx-pref-width: 20.25em;
}


.autogram-dropdown {
  -fx-cursor: hand;
  -fx-alignment: center-left;
}

.autogram-dropdown > ChoiceBox {
  -fx-pref-width: 19.5em;
}

/* Context menu */
.context-menu {
  -fx-background-color: -autogram-background-colour;
  -fx-pref-width: 19em;
  -fx-padding: 0em 0 0 0;
  -fx-background-insets: 1em 0 0 0;
  -fx-border-insets: 1em 0 0 0;
  -fx-border-style: solid;
  -fx-border-color: -autogram-input-border-colour;
  -fx-border-width: 1px;
}

.menu-item:focused {
  -fx-background-color: -autogram-secondary-hover-colour;
}

.menu-item > .label {
  -fx-text-fill: -autogram-input-border-colour;
  -fx-padding: 3px;
}

.menu-item:focused > .label {
  -fx-text-fill: -autogram-input-border-colour;
}

/* Choice boxes */
.choice-box {
  -fx-background-color: -autogram-background-colour;
  -fx-border-color: -autogram-input-border-colour;
  -fx-border-width: 2px;
  -fx-padding: 5px;
  -fx-font-size: 20px;
}

.choice-box > .label {
  -fx-text-fill: -autogram-input-border-colour;
}

.choice-box .arrow-button {
  -fx-background-color: -autogram-input-background-color;
  -fx-background-radius: 0;
}

.choice-box .arrow {
  -fx-background-color: -autogram-input-border-colour;
  -fx-shape: "M10.925 0.624951L12 1.69995L6 7.69995L0 1.72495L1.075 0.649951L6 5.57495L10.925 0.624951Z";
  -fx-padding: 4px 16px 4px 6px;
  -fx-background-insets: 0 10px 0 0;
}

/* Check boxes */
.check-box {
  -fx-cursor: hand;
  -fx-label-padding: 0 0 0 5px;
  -fx-font-size: 20px;
  -fx-padding: 0 10px 0 -10px;
}

.check-box .box {
  -fx-pref-height: 44px;
  -fx-pref-width: 44px;
  -fx-border-color: -autogram-input-border-colour;
  -fx-border-width: 2px;
  -fx-border-insets: 10px;
  -fx-padding: 3px;
}

.check-box .mark {
  /* TODO make the mark thicker */
  -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
  -fx-pref-height: 15px;
  -fx-pref-width: 15px;
}

.check-box:selected .mark {
  -fx-background-color: -autogram-input-border-colour;
}

.check-box:selected .box {
  -fx-background-color: -autogram-background-colour;
}

.check-box:hover .box {
  -fx-background-color: -autogram-secondary-hover-colour, -autogram-background-colour;
  -fx-background-insets: 0, 10px;
}

.check-box:focused .box {
  -fx-background-color: transparent, -autogram-focus-colour, -autogram-background-colour;
  -fx-border-width: 4px;
  -fx-background-insets: 0, 7px, 10px;
}

.check-box:focused:hover .box {
  -fx-background-color: -autogram-secondary-hover-colour, -autogram-focus-colour, -autogram-background-colour;
  -fx-border-width: 4px;
  -fx-background-insets: 0, 7px, 10px;
}

.autogram-table-text {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.3125em;
}

.autogram-table__footer {
  -fx-padding: 0.75em 0 0 0;
}

.autogram-table-cell {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: -autogram-border-colour;
    -fx-padding: 0.5em 0;
}

.autogram-table-cell > HBox {
  -fx-padding: 0.25em 0;
}

.autogram-table-cell--last {
  -fx-padding: 0.625em 0 0.5em 0;
}

.autogram-table-cell--left {
  -fx-pref-width: 308px;
}

.autogram-table-cell--right {
  -fx-pref-width: 344px;
}

.autogram-table-header {
  -fx-border-style: hidden hidden solid hidden;
  -fx-border-width: 1px;
  -fx-border-color: -autogram-border-colour;
  -fx-padding: 0.5em 0;
}

.autogram-table-header > TextFlow > Text {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.1875em;
  -fx-font-weight: bold;
  -fx-padding: 0 0 15px 0;

}

.autogram-signatures-table {
}

.autogram-signatures-table > HBox {
  -fx-border-style: hidden hidden solid hidden;
  -fx-border-width: 1px;
  -fx-border-color: -autogram-border-colour;
  -fx-padding: 0.5em 0 0.5em 0;

  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;
  -fx-font-size: 1.1875em;
}

.autogram-signatures-table > TextFlow {
  -fx-border-style: hidden hidden solid hidden;
  -fx-border-width: 1px;
  -fx-border-color: -autogram-border-colour;
  -fx-padding: 0.75em 0 0.75em 0;

  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;
  -fx-font-size: 1.1875em;
}

.autogram-signatures-table-cell--left {
  -fx-padding: 0.75em 1em 0.75em 0;
}

.autogram-signatures-table .column-header .autogram-link {
  -fx-font-weight: normal;
}


/* Custom styles */

.autogram-claim {
  -fx-background-color: -autogram-focus-colour, -autogram-background-colour;
  -fx-background-insets: 0 0 2 0, 0 0 6 0;
}

.autogram-radios {
  -fx-spacing: 10px;
}

.autogram-radios HBox {
  -fx-spacing: 1em;
  -fx-alignment: center-left;
}

.autogram-actions {
  -fx-spacing: 15px;
  -fx-alignment: center-left;
}

.autogram-visualization-header {
  -fx-padding: 0 0 1em 0;
}

.autogram-unsupported-visualization {
  -fx-border-width: 5px;
  -fx-border-color: -autogram-error-colour;

  -fx-spacing: 2em;
  -fx-padding: 2.5em 2em 2em 2em;
  -fx-alignment: center;
}

.autogram-unsupported-visualization VBox {
  -fx-spacing: 1em;
}

.autogram-unsupported-visualization .autogram-error-summary__error {
  -fx-padding: 0.5em 2em 0 2em;
}

.autogram-error-summary__more {
  -fx-padding: 0 0 0 5px;
  -fx-border-insets: 2em;
  -fx-background-insets: 2em;
  -fx-font-size: 1em;
}
.autogram-error-summary__more Polygon {
  -fx-rotate: 0;
  -fx-fill: -fx-text-fill;
}

.autogram-error-summary__more.autogram-error-summary__more-open Polygon {
  -fx-rotate: 90;
}

.autogram-loading {
  -fx-padding: 4em;
  -fx-alignment: center;
}

.autogram-loading__text {
  -fx-padding: 1em;
  -fx-alignment: center;
  -fx-text-alignment: center;
}

.autogram-loading-icon {
  -fx-min-width: 76;
  -fx-pref-width: 76;
  -fx-max-width: 76;

  -fx-min-height: 100;
  -fx-pref-height: 100;
  -fx-max-height: 100;
  -fx-shape: "M571 512c118-85 197-240 197-384 0-71-172-128-384-128s-384 57-384 128c0 144 80 299 197 384-118 85-197 240-197 384 0 71 172 128 384 128s384-57 384-128c0-144-80-299-197-384z m-187-448c141 0 256 29 256 64s-115 64-256 64-256-29-256-64 115-64 256-64z m-64 706c-154 7-238 40-253 82 16-114 75-189 141-251 73-68 112-60 112-103v273z m-105-352c-70-55-122-130-142-215 70 32 183 53 311 53s241-21 311-53c-20 85-72 160-142 215-24-17-70-34-169-34s-145 17-169 34z m233 352v-273c0 43 39 35 112 103 66 62 125 138 141 251-14-41-99-75-253-82z";
  -fx-background-color: -autogram-border-colour;
}

.autogram-tag {
  -fx-padding: 0.1875em 0.375em 0.1875em 0.375em;
  -fx-pref-height: 1.75em;
  -fx-max-height: 1.75em;
}

.autogram-tag Text {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.1875em;
  -fx-font-weight: bold;
}

.autogram-tag-multiple-box {
  -fx-hgap: 0.5em;
  -fx-vgap: 0.5em;
  -fx-padding: 0;
  -fx-fit-to-height: true;
  -fx-background-insets: 0;
}

.autogram-tag-processing {
  -fx-background-color: #D2E2F1;
  -fx-border-color: #D2E2F1;
}

.autogram-tag-invalid {
  -fx-background-color: #F6D7D2;
  -fx-border-color: #F6D7D2;
}

.autogram-tag-valid {
  -fx-background-color: #cce2d8;
  -fx-border-color: #cce2d8;
}

.autogram-tag-custom-valid {
  -fx-background-color: #D2E2F1;
  -fx-border-color: #D2E2F1;
}

.autogram-tag-unknown {
  -fx-background-color: #FFF7BF;
  -fx-border-color: #FFF7BF;
}

.autogram-tag-warning {
  -fx-background-color: #FFF7BF;
  -fx-border-color: #FFF7BF;
}

.autogram-tag-info {
  -fx-background-color: #eeefef;
  -fx-border-color: #eeefef;
}

.autogram-tag-processing Text {
  -fx-text-fill: #144E81;
  -fx-fill: #144E81;
}

.autogram-tag-invalid Text {
  -fx-text-fill: #721c24;
  -fx-fill: #721c24;
}

.autogram-tag-valid Text {
  -fx-text-fill: #005a30;
  -fx-fill: #005a30;
}

.autogram-tag-custom-valid Text {
  -fx-text-fill: #144E81;
  -fx-fill: #144E81;
}

.autogram-tag-unknown Text {
  -fx-text-fill: #594D00;
  -fx-fill: #594D00;
}

.autogram-tag-warning Text {
  -fx-text-fill: #594D00;
  -fx-fill: #594D00;
}

.autogram-tag-info Text {
  -fx-text-fill: #383f43;
  -fx-fill: #383f43;
}

.autogram-progress-bar {
    -fx-border-color: -autogram-input-border-colour;
    /* -fx-background-color: -autogram-focus-colour; */
    -fx-background-insets: 0 0 0 0;
}

.autogram-progress-bar > .track {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
  }

.autogram-progress-bar > .bar {
    -fx-background-color: -autogram-partial-success-colour;
}
.autogram-progress-bar > .track {
      -fx-background-color: transparent;
}

.autogram-batch-visualization {
    -fx-border-width: 5px;
    -fx-border-color: -autogram-error-colour;

    -fx-spacing: 3em;
    -fx-padding: 6em 4em 4em 4em;
    -fx-alignment: center;
}

.autogram-batch-visualization VBox {
    -fx-spacing: 20px;
}

.autogram-batch-visualization .autogram-error-summary__error {
    -fx-padding: 0.5em 2em 0 2em;
}

.autogram-listview {
  -fx-max-height: 400px;
  -fx-min-height: 30px;
  -fx-pref-height: 200px;
  -fx-padding: 0 0 20px 20px;
}

.autogram-confirmation--success {
  -fx-background-color: -autogram-success-colour;
}
.autogram-confirmation--warning {
  -fx-background-color: -autogram-partial-success-colour;
}

.autogram-confirmation{
  -fx-padding: 40px 20px 40px 20px;
  -fx-background-insets: 20px 0 20px 0;
  -fx-text-fill: -autogram-background-colour;
  -fx-text-alignment: center;
}

.autogram-confirmation .autogram-body {
  -fx-text-fill: -autogram-background-colour;
  -fx-fill:  -autogram-background-colour;

  -fx-font-size: 1.1875em;
  -fx-text-alignment: center;
}

.autogram-confirmation .autogram-heading-m {
  -fx-text-fill: -autogram-background-colour;
  -fx-fill:  -autogram-background-colour;

  -fx-font-size: 1.5em;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
}
.autogram-confirmation Hyperlink {
  -fx-font-size: 2em;
}

.autogram-summary-header {
  -fx-background-color: -autogram-secondary-background-colour;
}

.autogram-summary-header__title {
  -fx-padding: 1.11em 0.75em;
  -fx-pref-width: 300px;
}

.autogram-summary-header__title > Text {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.1875em;
  -fx-font-weight: bold;

  -fx-padding: 0 0 0 15px;
}

.autogram-summary-header__badge {
  -fx-padding: 0.925em 1.25em;
}

.autogram-body-details {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.125em;
}

.autogram-details__more {
  -fx-padding: 0.625em 0;
  -fx-border-insets: 2em;
  -fx-background-insets: 2em;
  -fx-font-size: 1.125em;
}

.autogram-details__more-icon {
  -fx-fill: -autogram-link-colour;
}

.autogram-signature-box {
  -fx-border-color: -autogram-border-colour;
  -fx-border-width: 2px;
  -fx-max-width: 688px;
}

.autogram-signature-box > HBox {
  -fx-background-color: -autogram-secondary-background-colour;
}

.autogram-signature-box > VBox {
  -fx-padding: 0.5em 0.75em;
}

.autogram-timestamps-box {
  -fx-max-width: 320px;
}

.autogram-timestamps-box > VBox > TextFlow > Button > TextFlow > Polygon {
  -fx-fill: -autogram-link-colour;
}

.autogram-timestamps-box > VBox > VBox {
  -fx-background-color: transparent;
  -fx-background-insets: 2em;
  -fx-border-insets: 2em;
  -fx-border-width: 0;
  -fx-font-size: 1.125em;
  -fx-padding: 0.625em 0;
  -fx-text-fill: -autogram-link-colour;
  -fx-underline: true;
}

.autogram-timestamps-box > VBox > VBox > VBox {
  -fx-border-color: -autogram-border-colour;
  -fx-border-width: 0 0 0 4px;
  -fx-padding: 0.5em 1em;
  -fx-spacing: 0.5em;
}

.autogram-timestamps-box > VBox > VBox > VBox > TextFlow > Text {
  -fx-text-fill: -autogram-text-colour;
  -fx-fill: -autogram-text-colour;

  -fx-font-size: 1.125em;
}

.autogram-warning-textflow {
  -fx-padding: 0.1875em 0.375em 0.1875em 0.375em;
  -fx-background-color: -autogram-warning-color;
  -fx-font-size: 1.125em;
  -fx-pref-height: 1.75em;
  -fx-max-height: 1.75em;
}


