name: Tests

on:
  push:
    branches:
      - 'main'
  pull_request:


jobs:
  test:
    runs-on: ${{ matrix.config.os }}

    permissions:
      checks: write

    strategy:
      matrix:
        config:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17.0.7+7'
          distribution: 'liberica'
          java-package: 'jdk+fx'

      - name: Cache local Maven repository and JDK cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            target/jdkCache
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests
        run: ./mvnw test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: JaCoCo Code Coverage Report
        id: jacoco_report
        uses: PavanMudigonda/jacoco-reporter@ffe0b95c14292be4d076e56d50ba6c3b94c43a77
        with:
          coverage_results_path: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: true
          minimum_coverage: 80
          fail_below_threshold: false # set to true for Github CI build failing when coverage check do not pass
          publish_only_summary: false

      - name: Add Coverage Job Summary
        run: echo "${{ steps.jacoco_report.outputs.coverageSummary }}" >> $GITHUB_STEP_SUMMARY

      - name: Upload Code Coverage Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report-markdown
          path: ./*/coverage-results.md
          retention-days: 1
